---
import LoadingFallback from "../../../../components/ui/LoadingFallback.astro";
import type { Ratings } from "../../../../db/redis";
import type { TVShowDetails } from "../../../../types/tmdbApi/tvShowDetails";
import { tmdbFetch } from "../../../../utils/tmdbFetch";
import EpisodeRankings from "./EpisodeRankings.astro";
import EpisodeRankingsBase from "./EpisodeRankingsBase.astro";
import ShowRating from "./ShowRating.astro";
import WatchProviders from "./WatchProviders.astro";

const { t } = Astro.locals;

interface Props {
  showId: string;
  imdbId: string | undefined;
  ratings: Ratings | undefined;
}

const { showId, ratings, imdbId } = Astro.props;

const getShowDetails = async () => {
  try {
    const res = await tmdbFetch(`/tv/${showId}`, {
      locale: Astro.currentLocale,
    });

    if (!res.ok) {
      return { error: t("show.notFound"), showDetails: undefined };
    } else {
      const showDetails = (await res.json()) as TVShowDetails;
      return { error: undefined, showDetails };
    }
  } catch (e) {
    return { error: t("show.notFound"), showDetails: undefined };
  }
};

const { error, showDetails } = await getShowDetails();

const getSplitOverview = () => {
  const splitted = showDetails?.overview.split(" ");

  const shortOverview = splitted?.slice(0, 12).join(" ");
  const restOverview = splitted?.slice(12, splitted.length).join(" ");

  return { shortOverview, restOverview };
};

const { shortOverview, restOverview } = getSplitOverview();

const fallbackRankings = Array.from({ length: 3 }, () => ({
  averageRating: null,
}));
---

{!!error && <p>{error}</p>}
{
  !error && (
    <div class="flex flex-col gap-3">
      <h1 class="text-lg font-bold">{showDetails!.name}</h1>
      <ShowRating ratings={ratings} />
      <div class="flex gap-2">
        {showDetails!.poster_path && (
          <a
            target="_blank"
            rel="noopener noreferrer"
            href={`https://www.imdb.com/title/${imdbId}/`}
          >
            <img
              class="min-w-36 rounded-xl"
              src={`https://image.tmdb.org/t/p/w500/${showDetails!.poster_path}`}
              alt={`${showDetails!.name} poster`}
            />
          </a>
        )}
        <div class="flex flex-col gap-2">
          <LoadingFallback>
            <EpisodeRankings ratings={ratings} slot="content" />
            <EpisodeRankingsBase
              highestRatings={fallbackRankings}
              lowestRatings={fallbackRankings}
              slot="fallback"
            />
          </LoadingFallback>
        </div>
      </div>
      <details class="group">
        <summary class="list-none [&::-webkit-details-marker]:hidden">
          {shortOverview}
          <span class="group-open:hidden">... </span>
          <span class="w-full cursor-pointer font-medium text-nowrap text-zinc-500 transition group-open:hidden hover:text-black">
            {t("common.showMore")}
          </span>
        </summary>
        {restOverview}
      </details>
      <WatchProviders />
    </div>
  )
}
