---
import type { TVShowDetails } from "../../../../types/tmdbApi/tvShowDetails";
import { tmdbFetch } from "../../../../utils/tmdbFetch";
import EpisodeRankings from "./EpisodeRankings.astro";
import ShowRating from "./ShowRating.astro";
import WatchProviders from "./WatchProviders.astro";

const { t } = Astro.locals;

interface Props {
  showId: string;
  imdbId: string | undefined;
}

const { showId, imdbId } = Astro.props;

const getShowDetails = async () => {
  try {
    const res = await tmdbFetch(`/tv/${showId}`, {
      locale: Astro.currentLocale,
    });

    if (!res.ok) {
      return { error: t("show.notFound"), showDetails: undefined };
    } else {
      const showDetails = (await res.json()) as TVShowDetails;
      return { error: undefined, showDetails };
    }
  } catch (e) {
    return { error: t("show.notFound"), showDetails: undefined };
  }
};

const { error, showDetails } = await getShowDetails();
---

{!!error && <p>{error}</p>}
{
  !error && (
    <>
      <h1 class="text-lg font-bold">{showDetails!.name}</h1>
      <ShowRating imdbId={imdbId} />
      {showDetails!.poster_path && (
        <a
          target="_blank"
          rel="noopener noreferrer"
          href={`https://www.imdb.com/title/${imdbId}/`}
        >
          <img
            class="w-72 rounded-xl"
            src={`https://image.tmdb.org/t/p/w500/${showDetails!.poster_path}`}
            alt={`${showDetails!.name} poster`}
          />
        </a>
      )}
      <p>{showDetails!.overview}</p>
      <EpisodeRankings imdbId={imdbId} />
      <WatchProviders />
    </>
  )
}
