---
import { Clapperboard } from "@lucide/astro";
import type { TvShow } from "../types/tmdbApi/tvShow";
import { getLocaleLink } from "../i18n/utils";

interface Props {
  show: TvShow;
}

const { show } = Astro.props;

const url = getLocaleLink(Astro.currentLocale, `/show/${show.id}`);
---

<div class="h-76 overflow-hidden">
  <a href={url} class="group flex h-fit flex-col items-center gap-2">
    {
      !!show.poster_path && (
        <img
          class="w-32 rounded-xl transition group-hover:opacity-60"
          src={`https://image.tmdb.org/t/p/w500/${show.poster_path}`}
          alt={`${show.name} poster`}
        />
      )
    }
    {
      !show.poster_path && (
        <div class="flex aspect-2/3 w-32 items-center justify-center rounded-xl bg-zinc-700 text-zinc-500 transition group-hover:bg-zinc-600 dark:bg-zinc-800 dark:text-zinc-600 dark:group-hover:bg-zinc-700">
          <Clapperboard />
        </div>
      )
    }
    <p class="line-clamp-3 w-32 text-center font-medium">{show.name}</p>
  </a>
</div>
